body {
    font-family: 'Roboto', sans-serif;
}

#toast-container {
    font-size: 14px;
}

.toast {
    opacity: 1 !important;
}

.toast-success {
    background-color: #51A351;
}

.toast-error {
    background-color: #BD362F;
}

.toast-info {
    background-color: #2F96B4;
}

.toast-warning {
    background-color: #F89406;
}

/* New styles for right-middle positioning */
.toast-right-middle {
    top: 50% !important;
    right: 12px;
    transform: translateY(-50%);
}

#toast-container.toast-right-middle > div {
    width: 300px;
}